extends layout

block content
  main.page.lanidng-page
    div
    section.portfolio-block.block-intro
      form.form-inline.mr-auto(target='_self')
        .form-group.flex-fill
          input#search-field.form-control.flex-fill.search-field(type='search' name='search' placeholder='search room')
    section.portfolio-block.projects-cards
      .container
        .row
          each room in rooms
            .col-md-6.col-lg-4
              .card.border-0
                a(href=room.getUrl())
                  img.card-img-top.scale-on-hover(src=room.avatar alt='Card Image')
                .card-body
                  h6
                    a(href=room.getUrl()) #{room.name} 
                    if (!room.public)
                      | (
                      i.fa.fa-lock )
                    //- if (!room.public)
                  //- p.text-muted.card-text !{JSON.stringify(room.description)}
                  p.text-muted.card-text #{room.description}
