extends layout

block content
  #content.subcontent.container
    script.
      var list_room = []
    #roomListContent.row.justify-content-center.text-center
      #searchSong.col-lg-7.col-md-7.col-sm-12
        .search-container
          input#room_search.search-input(type='text' name='room_search' placeholder='Search room')
        //- #roomSearchResult(style='display:none;')

        #searchModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='searchModalTitle' aria-hidden='true')
          .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
              .modal-header
              .modal-body
              .modal-footer

      #roomList.col-lg-12.col-md-12.col-sm-12
        .row.justify-content-center
          each room in rooms
            script.
              list_room.push({#{room.id}: #{room.public}})
            .col-md-6.col-lg-4
              .card.border-0
                a(id='room' + room.id)
                  img.card-img-top.scale-on-hover(src=room.avatar alt='Card Image')
                .card-body
                  h6= room.name
                    if (!room.public)
                      | (
                      i.fa.fa-lock )
                  p.text-muted.card-text !{room.description}
                  div(id='key_form' + room.id style='display:none;')

    script(src='/scripts/enter_room.js')
                
