extends layout

block content
  #content.content.container
    script.
      var list_room = []
    #roomDetailContent.row.justify-content-center.text-center
      #searchSong.col-lg-7.col-md-7.col-sm-12
        .search-container
          input#room_search.search-input(type='text' name='room_search' placeholder='Search room')
      #roomList.col-12
        .row
          each room in rooms
            script.
              list_room.push({#{room.id}: #{room.public}})
            .col-md-6.col-lg-4
              .card.border-0
                a(id='room' + room.id)
                  img.card-img-top.scale-on-hover(src=room.avatar alt='Card Image')
                .card-body
                  h6= room.name
                    if (!room.public)
                      | (
                      i.fa.fa-lock )
                  p.text-muted.card-text #{room.description}
                  div(id='key_form' + room.id style='display:none;')

    script(src='/scripts/enter_room.js')
                
